.main-back{
    background-color: #222227;
    
    min-height: 400px;
    padding-left: 8%;
    padding-right: 8%;

    padding-top: 5.5%;
    /* margin-left: 8%;
    margin-right: 8%; */
    margin-top: 2%;
    
    background: url('../../assets/slide1.jpg') center center / cover no-repeat;
    border-radius: 30px;
}
.main-back1{
    background-color: #222227;
    min-height: 400px;
    padding-left: 8%;
    padding-top: 5.5%;
    padding-right: 8%;

    /* margin-left: 8%;
    margin-right: 8%; */
    margin-top: 2%;
    background: url('../../assets/slide2.jpg') center center / cover no-repeat;
    border-radius: 30px;
}
.main-back2{
    background-color: #222227;
    min-height: 400px;
    padding-left: 8%;
    padding-top: 5.5%;
    padding-right: 8%;

    /* margin-left: 8%;
    margin-right: 8%; */
    margin-top: 2%;
    background: url('../../assets/slide3.jpg') center center / cover no-repeat;
    border-radius: 30px;
}
.marketplace{
    padding-top: 15px;
    line-height: 0;
    color: black !important;
}
.button-flex {
    display: flex;
   margin-top: 4%;
}
.explore {
    width: 150px !important;
    height: 50px !important;
    border-radius: 15px !important;
    background-color: #6164FF !important;
    text-transform: uppercase !important;
    border: none !important;


}
.create{
    background-color: black !important;
    border: none !important;
    margin-left: 2% !important;
    text-transform: uppercase !important;
    width: 150px !important;
    border-radius: 15px !important;
    height: 50px !important;


}
.create:hover{
    color: blue !important;
    background-color: transparent;
}
@media screen and (max-width: 700px) {
    .explore {
        width: 120px !important;
    }
    .create{
        width: 120px !important;
    
    }
    .marketplace{
        padding-top: 15px;
        line-height: 2 !important;
    }
  }