.live-auction{
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 5%;
    margin-bottom: 5%;

}
.seller-image{
    border-radius: 20px;
    margin-right:10px;
    width: 60px;
    height: 60px;
}